@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* ================================ change scrollbar color */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
  background: #131313;
}

/* ================================ */

.main{
  width: 100%;
  background-color: #1B0B03;
  background-position: center;
  /* background-size: cover; */
  height: 100%;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%; 
  height: 75px;
  background-image: linear-gradient(to bottom right, #1E1E1E, #0B0A11);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  float: left;
  height: 70px;
}

/* .logo{
  border: 1px solid;
  color: #ff7200;
  font-size: 35px;
  font-family: 'Poppins';
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
} */

.menu{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins';
  color: #FFFFFF;
}

ul li{
  list-style: none;
  font-size: 14px;
  font-family: 'Poppins';
  color: #FFFFFF;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: "Poppins" ;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-family: 'Poppins';
  color: #FFFFFF;
}

ul li a:hover{
  color: #ff7200;
}

.search{
  width: 330px;
}

.srch{
  font-family: 'Poppins';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #838186;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: #0C0A1C;
  border: 2px solid #838186;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  
  
}
.btn:hover{
  color: #ff7200;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.hero-section {
position: relative;
width: 100%; 
height: 100vh;
background-image: url("/static/images/ASSET_HOMEPAGE.png");
background-size: cover;
}

/* .hero-section img {
width: 100%; 
height: 100vh; 
object-fit: cover; 
} */

/* .hero-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #0B0A11; 
border: 1px solid red;
} */

.content{
  width: 100%;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
  font-size: 20px;
  padding-top: 75px;
}

.content .par{
  font-size: 16px;
  font-family: Arial;
  letter-spacing: 1.0px;
  line-height: 20px;
  text-align: center;
}

.content h1{
  font-family: 'Poppins';
  font-weight:bolder;
  font-size: 110px;
  letter-spacing: 2px;
  text-align: center;
  color: #ff7200;
  
}

.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover{
  background-color: #fff;
}

.container {
  padding: 2rem;
  background-color: #0C0A1C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto; 
  box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.42);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  font-weight: 700;
  color: #A7A5AB;
}

.title span {
  color: #402416;
}

.container2 {
  padding-top: 75px;
  width: 85%;
}

.container3 {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calculator {
  width: 50%;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.42);
  background-color: #0B0A11;
}

.resistor {
  padding-top: 75px;
  width: 40%;
  height: 70%;
}

.calculator_nav {
  width: auto;
  background: #1B0B03;
  padding: 20px; 
  font-weight: 700;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-links {
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.nav-links li {
list-style: none;
}

.nav-links li button {
position: relative;
color: #FDFDFD;
background: none;
font-size: 22px;
font-weight: 500;
border: none;
text-decoration: none;
}

.nav-links li button:before {
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 0%;
background: #E0DFE9;
border-radius: 12px;
transition: all 0.4s ease;
}

.nav-links li button:hover:before {
width: 100%;
}

.nav-links li.center button:before {
left: 50%;
transform: translateX(-50%);
}

.nav-links li.upward button:before {
width: 100%;
bottom: -5px;
opacity: 0;
}

.nav-links li.upward button:hover:before {
bottom: 0px;
opacity: 1;
}

.nav-links li.forward button:before {
width: 100%;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.4s ease;
}

.nav-links li.forward button:hover:before {
transform: scaleX(1);
transform-origin: left;
}

.nav-links li button:before{
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 0%;
background: #ff7200;
border-radius: 12px;
transition: all 0.4s ease;
}
.nav-links li button:hover:before{
width: 100%;
}
.nav-links li.center button:before{
left: 50%;
transform: translateX(-50%);
}
.nav-links li.upward button:before{
width: 100%;
bottom: -5px;
opacity: 0;
}
.nav-links li.upward button:hover:before{
bottom: 0px;
opacity: 1;
}
.nav-links li.forward button:before{
width: 100%;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.4s ease;
}
.nav-links li.forward button:hover:before{
transform: scaleX(1);
transform-origin: left;
}

/* =========================== temporary */
.rv_result{
  padding: 0 0 30px 0;
}

/* =========================== */

.sub_container {
  padding: 30px 50px;
}

h3 {
font-family: 'Poppins';
font-size: 25px;
font-weight: bold;
letter-spacing: 2px;
text-align: left;
color: #E0DFE9; 
}

h4 {
font-family: 'Poppins';
font-size: 18px;
font-weight: lighter;
letter-spacing: 2px;
color: #E0DFE9;
padding: 10px 0;
}

.dropdown-content {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  width: 250px;
  background: #fff url("select-arrows.svg") no-repeat right 16px center;
  background-size: 10px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 2px solid #FDFDFD;
  border-radius: 10px;
}

.dropdown-content:hover {
  border: 2px solid #0B0A11;
}

.dropdown-content:focus {
  border: 1px solid #1B0B03;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}

select::-ms-expand {
  display:none;
}


/* .dropdown {
position: relative;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px; 
line-height: 2;
height: 40px; 
transition: all 200ms linear;
border-radius: 4px;
width: 200px; 
letter-spacing: 1px;
display: inline-flex;
align-items: center;
justify-content: center;
text-align: center;
border: none;
background-color: #E0DFE9;
cursor: pointer;
color: #102770;
box-shadow: 0 8px 16px 0 rgba(255, 235, 167, 0.15);
}

.dropbtn {
position: relative;
left: 0;
 
}

.dropdown-content {
display: none;
position: absolute;
background-color: #E0DFE9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;

}

.dropdown-content a {
color: #0C0A1C;
padding: 10px 12px;
text-decoration: none;
display: block;

}

.dropdown-content a:hover {
background-color: #ff7200;
} 

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
} */

.Result{
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;

}

.Result::hover {
  background-color: rgb(249,250,251);
}

.Result:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.Result:focus-visible {
  box-shadow: none;
}


.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #fff;
  color: #ff7200;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a{
  text-decoration: none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icons a{
  text-decoration: none;
  color: #fff;
}
.icons ion-icon{
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover{
  color: #ff7200;
}
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
background-color: #0C0A1C; /* Set background color for the entire page */
color: #ffffff; /* Set text color for the entire page */
}

.about {
  padding-top: 95px;
}

.about div:nth-child(2){
  padding: 30px 0;
}

.header-container {
background-color: #402416;
color: #ffffff;
padding: 2px 0px;
font-weight: 600;
font-size: 22px;
text-align: center;
}

/* h1 {
font-size: 24px;
margin-bottom: 5px;
}

h1:nth-child(2) {
text-align: left;
font-weight: bold;
position: relative;
} */

.how div:nth-child(2){
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about p, .how p {
font-size: 16px;
line-height: 1.5;
margin-bottom: 20px;
text-align: justify;
}

/* 
p:nth-child(2),
p:nth-child(3),
p:nth-child(4) {
text-align: left;
} */

a {
color: #ffffff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.onyx {
  margin: 75px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onyx .title_team {
  width: 40%;
  height: auto;
  margin-bottom: 30px;
}

.onyx .team {
  width: 100%;
  height: auto;
  box-shadow: 0px -10px 35px 22px rgba(0,0,0,0.51);
}


  
/*
.title-contributor img {
  height: auto;
  max-width: 330%;
  margin: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

.Contributer-a,
.Contributer-b {
    max-width: 100%;
    height: 0px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-position: left;
    background-size: cover;
    overflow: hidden;
}

.Contributer-a img,
.Contributer-b img {
    width: 200%;
    height: 9px;
} */

.footer {
  height: 50svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B0A11;
}

.footer .logo_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 65%;
}

.footer .logo_links div {
  height: auto;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.footer .logo_links img {
  height: 25px;
}

.footer .foot1{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
  height: 75%;
}

.footer .foot1 .foot1c{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer .foot1-1 {
  width: 40%;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-right: 50px;
} 

.footer .foot1-2 {
  width: 60%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.footer .f_maint {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer .f_subt{
  font-size: 10px;
  font-weight: 300;
}
.footer .f_cont{
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.footer .foot2{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 75%;
}

.footer .foot2 .foot2c{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer .foot2-1, footer .foot2-2 {
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
